* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f5f5f5;
}

table {
    border-collapse: collapse;
    /* width: 40%;  */
    margin-left: 3px;
    margin-right: 3px;
}

table td,
table th {
    padding: 3px 1px;
}

table td ol,
table td ul,
table td li {
    list-style-type: dist;
    /* margin-left: 5px; */

}
input{
    padding: 3px;
}
a{
    text-decoration: none;
    color: black;
}
/* adaugare */
.container{
    text-align: center;
}
.form-cnam{
    /* border: 1px solid red; */
    width: 20%;
    margin: auto;
}
.form-group{
    /* border-bottom: 1px solid rgb(214, 219, 213); */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px 0px;
}
.btn-add{
    border: 1px solid grey;
    padding: 5px 8px;
    margin-top: 10px;
    margin-left: 5px;
    display: block;
    width: fit-content;
}
.btn-add:hover{
    background-color: rgb(214, 219, 213);
}
/* Container tabel scrollable */
.table-responsive {
    overflow-x: auto;
    max-width: 100%;
}

/* Tabel */
.table {
    width: 100%;
    border-collapse: collapse;
}

/* Head tabel */
.table thead th {
    white-space: nowrap;       /* text pe un singur rând */
    text-align: center;        /* centrat text */
    vertical-align: middle;
    padding: 8px;
    background-color: #f8f9fa;
    font-weight: bold;
    font-size: 14px;
}

/* Celulele tabelului */
.table tbody td {
    text-align: center;
    vertical-align: middle;
    padding: 6px;
    font-size: 13px;
    word-wrap: break-word; /* sparge textul lung dacă e nevoie */
}

/* Alternare culoare rânduri */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

/* Scroll vertical dacă tabelul e lung */
.table-responsive {
    max-height: 600px; /* ajustează după nevoie */
    overflow-x: auto;
}

/* @media (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        display: none;
    }

    td {
        position: relative;
        padding-left: 50%;
        border-bottom: 1px solid #ccc;
    }

    td::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 45%;
        padding-left: 10px;
        font-weight: bold;
        white-space: nowrap;
        content: attr(data-label);
    }

} */

/* @media print {
    table {
        width: 100% !important;
        display: table !important;
        border-collapse: collapse !important;
    }

    table thead, table tbody, table tr, table td, table th {
        display: table-cell !important;
    }


    .table-responsive {
        overflow: visible !important;
        display: block !important;
    }
} */
